body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000; */
}

.App {
  height: 100vh;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
}

.world-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.reset-button {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
}
